#Jupyter notebook
jupyter==1.0.0
#Remote SPARQL access
SPARQLWrapper==1.8.5
#Ontology access
OWLready2==0.45
requests==2.25.1
#Required this version instead of 3.0
pyparsing==2.4.7
#RDF graph management
rdflib==7.0.0
